<!DOCTYPE html>
<html>

<head>
    <title>Ai - Error</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="error">
    <div class="container">
        <h1>Error 404 | Not found</h1>
        <h3>This is propably not what you are searching for.</h3>
        <a href="/ai" id="continue">Get me back!</a>
</body>

</html>