<!DOCTYPE html>
<html>

<head>
    <title>Ai - Warning</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="info">
    <div class="container">
        <h1>This is an experimental webapp using the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API">Web Speech Api</a>.</h1>
        <h2>It has been developed and tested in Google Chrome 50.</h2>
        <a href="/ai" id="continue">To continue, click here</a>
</body>

</html>